Flask==0.12.2
google-api-core==1.1.1
google-api-python-client==1.6.7
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-speech==0.33.0
google-cloud-storage==1.8.0
google-cloud-translate==1.3.1
google-cloud-vision==0.31.1
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grpcio==1.11.0
httplib2==0.18.0
oauth2client==4.1.2
pydub==0.21.0
pytz==2018.4
requests==2.18.4
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
wheel==0.31.0
